.nyc_output/
.rollup.cache/
.tsbuildinfo
*.local
local/
coverage/
dist/
esm/
node_modules/
/stan.patch

# New stan layout: ignore everything under stan/ except stan/system
stan/*
!stan/system/
!stan/system/**
